
.clear {
    clear: both;
}

.literature_warning {
    background-color: orange;
}

.literature .data {
    margin-left: 150px;
    word-wrap: break-word;
    padding-right: 15px;
}

.literature .data_short {
    word-wrap: break-word;
}

.literature .lit_image {
    width: 150px;
    float: left;
}

.literature .lit_image img {
    display: block;
    margin: 0px auto;
    width: 130px;
}

li.lit_entry {
    margin-top: 5px;
}

div.lit_entry {
    border: 1px solid #B3B2B2;
    padding: 10px 5px 5px 5px;
}

.literature .lit_link {
    word-break: break-all;
}

.literature.list {
    list-style: none;
}

.literature.list .source_list_item .edit_link {
    float:right;
    margin-right:10px;
    cursor: pointer;
}

.literature.list .source_item {
    border: 1px solid #ddd;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

.literature.list .list_info {
    border: 1px solid #ddd;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

.literature.list .list_info input {
    vertical-align: text-bottom;
}

.literature_link_wrapper {
    padding-left: 16%;
    padding-bottom: 5px;
}

.literature_link_del {
    display: inline-block;
    padding-left: 20px;
    color: grey;
    text-decoration: none;
}