/assign
/assignment
/book
/chat
/choice
/data
/feedback
/folder
/forum
/glossary
/imscp
/index.html
/label
/lesson
/lti
/page
/quiz
/README.txt
/resource
/scorm
/survey
/upgrade.txt
/url
/wiki
/workshop
